*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.box{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: yellow; */
}

.boxes h5{
    /* width: 100%; */
    margin: 15px 5px;

}

.imgbox{
    margin: 10px 0;
}

.boxes{
    /* background-color: violet; */
    width: 30%;
    margin: 5px 12px;
    border: 1px solid;
    border-radius: 5px;
}

h1{
    text-align: center;
}